body {
    background-color:whitesmoke;
}

ul.navbar {
    border-style: hidden hidden solid hidden;
    border-width: 5px;
    text-align: center;
}

.navbar li {
    display: inline-block;
    padding: 0% 5%;
}

.center {
    display: flex;
    justify-content: center;
}

div.card-container {
    margin: 1%;
    width:80%;
    background-color:darkgrey;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(4,4,4,1);
}

iframe {
    border: none;
    padding:2%;
    width: 75%;
    height: 1500px;
}
